<div class="feed-container">

  <h2>Feed</h2>

  <!-- Create Post -->
  <div class="create-post">
    <textarea [(ngModel)]="newPost" placeholder="What's on your mind?"></textarea>

    <div class="post-actions-row"
      style="display: flex; justify-content: space-between; align-items: center; margin-top: 10px;">
      <!-- <select [(ngModel)]="newPrivacy" style="padding: 5px; border-radius: 4px; border: 1px solid #ccc;">
        <option value="EVERYONE">Everyone</option>
        <option value="CONNECTIONS_ONLY">Connections Only</option>
      </select> -->
      <button (click)="createPost()">Post</button>
    </div>
  </div>

  <hr>

  <!-- Show Posts -->
  <div *ngFor="let post of posts" class="post-card">
    <div class="post-header">
      <h4 [routerLink]="['/dashboard/profile', post.userId]" class="profile-link">
        {{ post.username }}
      </h4>
      <button *ngIf="post.userId === currentUserId" class="delete-btn" (click)="deletePost(post)" title="Delete Post">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <p>{{ post.content }}</p>

    <!-- <div style="display: flex; justify-content: space-between; align-items: center; color: #666;">
      <small>{{ post.createdAt | date:'short' }}</small>
      <small style="font-size: 0.8em; background-color: #eee; padding: 2px 6px; border-radius: 10px;">
        {{ post.privacy === 'CONNECTIONS_ONLY' ? '👥 Connections' : '🌎 Everyone' }}
      </small>
    </div> -->

    <div class="post-actions">

      <!-- LIKE -->
      <div class="action-item" (click)="toggleLike(post)" [class.liked]="post.likedByCurrentUser">

        <mat-icon class="action-icon">
          {{ post.likedByCurrentUser ? 'favorite' : 'favorite_border' }}
        </mat-icon>

        <span>{{ post.likeCount }}</span>
      </div>

      <!-- COMMENT -->
      <div class="action-item">
        <mat-icon class="action-icon">chat_bubble_outline</mat-icon>
        <span>{{ post.commentCount }}</span>
      </div>

    </div>
    <!-- Comment Section -->
    <div class="comment-section">

      <button class="comment-toggle-btn" (click)="toggleComments(post)">
        View Comments
      </button>

      <div *ngIf="post.showComments">

        <div *ngFor="let comment of post.comments" class="comment-item">
          <strong>{{ comment.username }}</strong>
          <p>{{ comment.content }}</p>
        </div>

        <input class="comment-input" [(ngModel)]="post.newComment" placeholder="Write a comment..." />
        <button class="comment-submit-btn" (click)="addComment(post)">
          Comment
        </button>
      </div>
    </div>
  </div>