<div class="auth-container">
  <mat-card>
    <mat-card-title>Forgot Password</mat-card-title>

    <p class="subtitle">
      Enter your registered email address. We’ll send you a reset link.
    </p>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />

        <mat-error *ngIf="forgotForm.get('email')?.hasError('required')">
          Email is required
        </mat-error>

        <mat-error *ngIf="forgotForm.get('email')?.hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="submit"
        [disabled]="forgotForm.invalid"
      >
        Send Reset Link
      </button>

      <!-- SUCCESS -->
      <p class="success" *ngIf="success">{{ success }}</p>

      <!-- ERROR -->
      <p class="error" *ngIf="error">{{ error }}</p>

      <p class="switch">
        Remember your password?
        <a routerLink="/auth/login">Login</a>
      </p>

    </form>
  </mat-card>
</div>