.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

mat-card {
 width: 400px;  
  padding: 20px;
}

.full-width {
  width: 100%;
  margin-top: 12px;
}
.success {
  color: #2e7d32;
  margin-top: 12px;
  text-align: center;
  font-weight: 500;
}

.error {
  color: #d32f2f;
  margin-top: 12px;
  text-align: center;
}

.switch {
  margin-top: 10px;
  text-align: center;
}
mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}
